	body {
		width:100%;
		height:100%;
		border:0;
		margin:0;
		font-family:Arial Rounded MT,Happiness-Sans-Bold;	
	    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Bold.woff2') format('woff2');
	    font-weight: 700;
	    font-style: normal;
		background:black;
	}
	
	.wrap {
		display:flex;
		min-height:100vh;
		flex-direction: column;
	}
	
	.SearchTxt{
		background:black; 
		color:white; 
		font-size:1.5em; 
		border-bottom:3px solid #fff;
	}
	
	#header {
		height:80px;
		width:100%;
		color:#fff;
		display:flex;
		align-items:center;
		border-bottom:2px dashed #fff;
	}
	
	input:focus{
		outline:none;
	}
	
	#contents {
		flex:1;
		display:flex;
		align-items:center;
		min-height:500px;
	}
		
	#contents2 {
		flex:1;
		min-height:500px;	
		padding:20px;	    
	}
	
	#footer {
		height:80px;
		width:100%;
		color:white;
		border-top:2px dashed #fff;
		font-size:0.8em;
		text-align:right;
	}
	
	#footer span{	
		display:block;	
		padding:15px;
	}
	
	#logo {
		font-size:2em;
		margin-left:20px;
		width:110px;
		cursor:pointer;
		background:#000;
		border-radius:5px;
		padding:8px;
		border:2px dashed #fff;
	}
	
	#nav_logo {
		font-size:2em;
		margin-left:20px;
		width:110px;
		cursor:pointer;
		background:#000;
		border-radius:5px;
		padding:8px;
		border:2px dashed #fff;
		color:white;
		margin-top:12px;
	}
	
	#Box {
		margin:auto;
		
		border-radius:10px;
		padding:20px;
		color:white;
		background:#555;
	}
	
	#loginBtn{
		height:65px;
		width:65px;
	}
	
	input{
		border:2px solid #000;
		/*border-radius:10px;*/
	}
	
	.inputBox {
		width:250px;
		height:20px;
		border-radius:8px;
	}
	
	.radio {
		width:20px;
		height:20xp;
	}
	
	.inputDate{
		width:120px;
		border-radius:8px;
	}
	
	.select {
		width:120px;
		height:20px;
		border-radius:8px;
	}
	
	textarea {
		border-radius:8px; 
		resize:none;
	}
	
	h2{
		color:white;
		margin:auto;
		clear:right;
	}
	
	.items {
		width:200px; 
		height:280px;
		display:inline-block;
		margin:5px;
		border-radius:10px; 
		cursor:pointer;
	}
	
	.items:hover {
		width:196px;
		height:276px;
		border:2px solid #fff;
	}
	

	.slide {
		/*width:10000px;*/ 
		position:relative; 
		height:280px; 
		transition:left 0.5s ease-out;
	}
	
	.slide_move_btn {
		position:relative; 
		top:-150px; 
		color:black; 
		border-radius:100px; 
		background:rgba( 255, 255, 255, 0.5 ); 
		width:25px; 
		height:25px; 
		padding:3px; 
		text-align:center;
		cursor:pointer;		
	}
		
	.slide_move_btn_left {		
		float:left; 
	}
	
	.slide_move_btn_left div{		
		padding-right:2px;
	}
			
	.slide_move_btn_right {
		float:right; 
	}
	
	.slide_move_btn_right div{		
		padding-left:2px;
	}
	
	.container {
		width:100%; 
		overflow:hidden;
	}
	
	*::-webkit-scrollbar {
	    width: 15px;  /* 스크롤바의 너비 */
	}	
	
	*::-webkit-scrollbar-thumb {
	    height: 30%; /* 스크롤바의 길이 */
	    background: gray; /* 스크롤바의 색상 */	    
	    border-radius: 5px;
	}	
	
	*::-webkit-scrollbar-track {
	    background: rgba(46,117,182, .1);  /*스크롤바 뒷 배경 색상*/
	}
	
	input[type="number"]{
		text-align:right;
	}
	
	input[type="number"]::-webkit-outer-spin-button,
	input[type="number"]::-webkit-inner-spin-button {
	    -webkit-appearance: none;
	    margin: 0;
	}

	
	#paging li {
		display:inline-block;
	}
	
	#paging ol {
		padding-inline-start:0px;
	}
	